#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0.2rem;
}
