#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 40vw;
  height: 40vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0.2rem;
}

div {
  margin: 0.5rem;
  padding: 1rem;
}
